@media  screen and (max-width: 800px){
    .vl{display: none;}
    header{
        width: 100%;
    }
   
    .headtext{
        height: 500px;
    }
    .textshadow{}
    .card-img{ /*img header*/
        width: 200%;
        height: 100%;
    }

/*---- BODY --------*/
    /*--- Section1 ---*/
        .container{
            width: 100%;
            margin-top: 10%;
        }
        .planta{
            width: 100% !important;
        }
        .foto1{
            width: 60%;
        }
        .reverse{
            flex-direction: column-reverse;
        }
        .hr{
            display: none !important;
        }
    /*--- Section3 ---*/
        .box3{
            width: 100%;
            height: 100%;
            margin: 50% 0%;
            flex-direction: column;
        }
        .foto1{
            width: ;
        }
        
    /*--- Section4 ---*/
    .seccion4{
        height: 500px;
    }

    /*--- FOOTER ---*/
    .footitle{
        flex-direction: column !important;
    }
    .vl2{
        display: none;
    }
}